@charset "UTF-8";

/* ====================
main visual
==================== */
.mainImg__pc {
    display: none;
}

@media screen and (min-width: 769px) {
    .mainImg {
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainImg__sp {
        display: none;
    }

    .mainImg__pc {
        display: block;
    }

}

/* ====================
about
==================== */
.section--about {
    background-color: var(--basedarkred2);
}

.section__topic--about {
    padding-right: 20px;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
}

.about__curning {
    margin-left: -12px;
}

.about__txt {
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .section--about {
        padding: 110px 0;
    }
}


/* ====================
layer
==================== */
.section--layer {
    position: relative;
    z-index: 0;
    padding: 40px 0;
}

.layer__decobox {
    position: absolute;
    top: 70px;
    right: 20%;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
    rotate: 10deg;
    transform-origin: top right;
    box-shadow: 8px 8px 6px var(--shadowred);
}

.section__topic--layer {
    width: 75%;
    padding: 15px var(--contentPadding);
    font-size: 1.5rem;
    color: var(--basered);
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px var(--shadowred);
}


.layer__item {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    gap: 0;
    box-shadow: 0px 6px 4px var(--shadowred);
}

.layer__content {
    padding: 30px 5% 40px;
    background-color: #ffffff;
    color: var(--basedarkred);
}

.layer__img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

@media screen and (min-width: 769px) {
    .section--layer {
        padding: 160px 0 90px;
    }

    .layer__decobox {
        height: 850px;
        top: 205px;
        right: 30%;
        box-shadow: 15px 20px 6px var(--shadowred);
    }

    .section__topic--layer {
        width: 65%;
        padding: 30px 0;
        font-size: 2.4rem;
    }

    .layer__item {
        flex-direction: row;
        margin-top: 40px;
    }

    .layer__item.layer__item--rev {
        flex-direction: row-reverse;
    }

    .layer__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .layer__imgbox {
        width: 50%;
    }

    .layer__img {
        width: 100%;
        height: 370px;
    }

}

/* ====================
points
==================== */
.points__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.points__headimg {
    padding-left: 3px;
}

.points__description {
    position: relative;
    width: 90%;
    padding: 15px 20px 25px 10px;
    border-radius: 8px;
    background-color: var(--basedarkred);
}

.points__description.points__description--point1 {
    margin: 0 auto 0 0;
}

.points__description.points__description--point2 {
    margin: 0 0 0 auto;
}

.points__txt {
    margin-top: 5px;
    padding-left: 20px;
}

.points__topic {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8rem;
}

.points__arrow1 {
    position: absolute;
    rotate: 90deg;
    transform-origin: top left;
    width: 130px;
    left: 30%;
    bottom: 5px;
}

.points__arrow2 {
    position: absolute;
    rotate: -90deg;
    transform-origin: top left;
    width: 130px;
    top: 30px;
    left: 60%;
}

.points__cv {
    margin-top: 40px;
}

.points__btn {
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    background-color: var(--basedarkred);
}

.points__btninner {
    display: block;
    padding: 8px 5px;
    border: 1px solid #ffffff;
    text-align: center;
}

.points__btntxt::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: 2px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
}

.points__cvtxt {
    margin-top: 10px;
    color: var(--basered);
    text-align: center;
}

@media screen and (min-width: 769px) {
    .section--points {
        padding: 40px 0 90px;
    }

    .points__wrapper {
        flex-direction: row;
        gap: 0;
        max-width: 1280px;
        margin-top: 60px;
        padding: 0 var(--contentPadding);
    }

    .points__description {
        flex: 1;
        width: auto;
        padding: 15px 10px 25px;
    }

    .points__description.points__description--point1 {
        margin: 0 15px auto 0;
    }

    .points__description.points__description--point2 {
        margin: auto 0 0 15px;
    }

    .points__txt {
        margin-top: 10px;
        padding: 0 10px;
    }

    .points__img {
        flex: 1.1;
        padding: 20px 0;
    }

    .points__arrow1 {
        rotate: 0deg;
        width: 180px;
        bottom: 40%;
        left: auto;
        right: 0;
        transform: translateX(90%);

    }

    .points__arrow2 {
        rotate: 180deg;
        width: 180px;
        top: 50%;
        left: auto;
    }

    .points__cv {
        margin-top: 90px;
    }

    .points__btn {
        width: 330px;
        padding: 7px;
    }

    .points__btninner {
        padding: 20px 5px;
    }

}