@charset "UTF-8";

/* ====================
main visual
==================== */
.mainImg {
    max-width: 500px;
    margin: 0 auto;
}

.mainImg__pc {
    display: none;
}

@media screen and (min-width: 769px) {
    .mainImg {
        max-width: 1000px;
    }

    .mainImg__sp {
        display: none;
    }

    .mainImg__pc {
        display: block;
    }

}

/* ====================
about
==================== */
.section--about {
    background-color: var(--basedarkred2);
    padding: 0;
}

.about__wrapper {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    padding: 40px var(--contentPadding) 70px;
}

.about__deco--l {
    position: absolute;
    width: 100px;
    left: 2%;
    bottom: 20px;
    transform: scale(-1, 1);
}

.about__deco--r {
    position: absolute;
    width: 100px;
    right: 2%;
    bottom: 20px;
}

.section__topic--about {
    margin-bottom: 35px;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
}

.section__topic--about::before {
    width: 50px;
    top: 0px;
    transform: scale(-1, -1) translateX(100%) rotate(80deg);
}

.section__topic--about::after {
    width: 50px;
    top: 0px;
    transform: scale(1, -1) translateX(50%) rotate(80deg);
}

.about__curning1 {
    margin-left: 5px;
}

.about__curning2 {
    margin-left: -10px;
    margin-right: 17px;
}

.about__txt {
    margin: 20px auto 0;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .about__wrapper {
        max-width: 850px;
        padding: 110px 0;
    }

    .about__deco--l,
    .about__deco--r {
        bottom: 80px;
    }

    .section__topic--about::after {
        transform: scale(1, -1) translateX(30%) rotate(80deg);
    }

    .about__curning2 {
        margin-right: 10px;
    }
}


/* ====================
layer
==================== */
.section--layer {
    position: relative;
    z-index: 0;
    padding: 40px 0;
}

.layer__decobox {
    position: absolute;
    top: 70px;
    right: 20%;
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
    rotate: 10deg;
    transform-origin: top right;
    box-shadow: 8px 8px 6px var(--shadowred);
}

.section__topic--layer {
    width: 75%;
    padding: 15px var(--contentPadding);
    font-family: "Noto Serif JP", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--basered);
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px var(--shadowred);
}

.layer__item {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    gap: 0;
    box-shadow: 0px 6px 4px var(--shadowred);
}

.layer__content {
    padding: 30px 5% 40px;
    background-color: #ffffff;
    color: var(--basedarkred);
}

.layer__img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.cutIn{
    transform: translate(-50px,0);
    transition: 2s;
    opacity: 0;
}

.fadeIn{
    transform: translate(0px,80px);
    transition: 1.2s;
    opacity: 0;
}

.cutIn.animated,
.fadeIn.animated {
    transform: translate(0,0);
    opacity: 1;
}

@media screen and (min-width: 769px) {
    .section--layer {
        padding: 160px 0 90px;
    }

    .layer__decobox {
        height: 850px;
        top: 205px;
        right: 30%;
        box-shadow: 15px 20px 6px var(--shadowred);
    }

    .section__topic--layer {
        width: 65%;
        padding: 30px 0;
        font-size: 1.8rem;
    }

    .layer__item {
        flex-direction: row;
        margin-top: 40px;
    }

    .layer__item.layer__item--rev {
        flex-direction: row-reverse;
    }

    .layer__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .layer__imgbox {
        width: 50%;
    }

    .layer__img {
        width: 100%;
        height: 370px;
    }

}

/* ====================
points
==================== */
.section__topic--points{
    margin-bottom: 40px;
}

.points__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.points__headimg {
    padding-left: 3px;
}

.points__description {
    position: relative;
    width: 90%;
    padding: 15px 20px 25px 10px;
    border-radius: 8px;
    background-color: var(--basedarkred);
    box-shadow: 4px 4px 4px var(--shadowred);
}

.points__description.points__description--point1 {
    margin: 0 auto 0 0;
}

.points__description.points__description--point2 {
    margin: 0 0 0 auto;
}

.points__txt {
    margin-top: 5px;
    padding-left: 20px;
}

.points__topic {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8rem;
}

.points__imgbox {
    position: relative;
    max-width: 400px;
    margin: 0 auto;

}

.points__arrow1 {
    position: absolute;
    rotate: 90deg;
    transform-origin: top left;
    width: 160px;
    left: 30%;
    transform: translateX(-30%);
    z-index: 1;
}

.points__arrow2 {
    position: absolute;
    rotate: -90deg;
    transform-origin: top left;
    width: 160px;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.points__cv {
    margin-top: 40px;
}

.points__btn {
    margin: 0 auto;
    width: 200px;
    padding: 5px;
    background-color: var(--basedarkred);
}

.points__btninner {
    display: block;
    padding: 8px 5px;
    border: 1px solid #ffffff;
    text-align: center;
}

.points__btntxt::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: 2px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
}

.points__cvtxt {
    margin-top: 10px;
    color: var(--basered);
    text-align: center;
}

@media screen and (min-width: 769px) {
    .points__wrapper {
        padding: 0 var(--contentPadding);
    }

    .points__cv {
        margin-top: 90px;
    }

    .points__btn {
        width: 330px;
        padding: 7px;
    }

    .points__btninner {
        padding: 20px 5px;
    }
}

/* tablet */
@media screen and (min-width: 961px) {
    .section--points {
        padding: 40px 0 90px;
    }

    .points__wrapper {
        flex-direction: row;
        gap: 0;
        max-width: 1280px;
        margin: 60px auto 0;
        padding: 0 var(--contentPadding);
    }

    .points__description {
        flex: 1;
        width: auto;
        padding: 15px 10px 25px;
    }

    .points__description.points__description--point1 {
        margin: 0 15px auto 0;
    }

    .points__description.points__description--point2 {
        margin: auto 0 0 15px;
    }

    .points__txt {
        margin-top: 10px;
        padding: 0 10px;
    }

    .points__img {
        flex: 1.1;
        padding: 20px 0;
    }

    .points__arrow1 {
        rotate: 0deg;
        width: 170px;
        top: 20%;
        left: auto;
        transform: translateX(-15%);
    }

    .points__arrow2 {
        rotate: 180deg;
        width: 170px;
        bottom: 10%;
        left: auto;
        transform: translateX(-15%);
    }

}