@charset "UTF-8";

/* ====================
general
==================== */

:root {
    --basered: #cc3333;
    --basedarkred: #660000;
    --basedarkred2: #330000;
    --shadowred: rgba(51,0,0,0.5);

    --txtHeight: 1.3;
    --contentPadding: 4.0%;
    --contentWidth: 90%;
    --contentMaxwidth: 1100px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Noto Serif JP", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    background-color: var(--basedarkred, #660000);
    line-height: var(--txtHeight, 1.3);
}

img {
    max-width: 100%;
    height: auto;
}

.linkblue{
    color: blue;
}

.hoverbright:hover{
    filter: brightness(1.1);
}

.attention.active{
    position: relative;
}

.attention__tooltip{
    position: absolute;
    bottom: 0px;
    width: 220px;
    transform: translate(0, 110%);
    padding: 6px 3px 6px 10px;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffcc;
    background-color: var(--basedarkred2);
    border-radius: 5px;
    filter: brightness(1.1);
}

.attention__tooltip--left{
    left: 10px;
}

.attention__tooltip--right{
    right: 10px;
}

/* header pc */
@media screen and (min-width: 769px) {
    body {
        font-size: 1.8rem;
    }
    
    .spbr {
        display: none;
    }    
}

/* ====================
header
==================== */
.header,
.nav__header {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--contentPadding);
    border-bottom: double 3px var(--basedarkred2);
}

.header::after, .nav__header::after{
    content:'';
    display: block;
    position: absolute;
    z-index: -1; /* これを入れないと上に要素が乗るのでメニューボタンがクリックできない。 */
    width: 100%;
    height: 100%;
    top: 3px;
    left: 0;
    mix-blend-mode: multiply;
    box-shadow: 0 4px 4px var(--shadowred);
}

.header__logo,
.nav__logo {
    width: 100px;
}

.header__btn,
.nav__btn {
    width: 60px;
    padding-left: 10px;
}

/* nav初期表示 */
.nav {
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
    color: var(--basedarkred2);
}

.nav.active {
    transform: translateX(0);
}

.nav__header {
    background-color: var(--basedarkred);
}

.nav__list {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.nav__item::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 1px;
    background-color: var(--basedarkred2);
    margin: 0 10px 5px;
}

.nav__sns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.nav__snstopic {
    text-align: center;
    letter-spacing: -0.1rem;
}

.nav__snschar {
    padding-left: 2px;
    letter-spacing: 0.1rem;
}

.nav__snslist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: 0 auto;
}

.nav__snsitem {
    width: 60px;
}

/* header pc */
@media screen and (min-width: 769px) {
    .header {
        padding: 10px 70px;
    }

    .header__logo {
        width: 150px;
    }

    .nav__header {
        display: none;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        padding: 0;
        position: static;
        transform: translateX(0);
        color: #ffffff;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        gap: 25px;
    }

    .nav__item::before {
        display: none;
    }

    .nav__sns {
        display: none;
    }

    .header__btn {
        display: none;
    }

}

/* ====================
article, section
==================== */
.section {
    padding: 40px var(--contentPadding);
}

.section__topic {
    position: relative;
    margin-bottom: 25px;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    text-align: center;
}

.section__topic::before{
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url("../images/titledeco_white.png");
    width: 38px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(-1,-1) translate(115%, -5%) rotate(80deg);
}

.section__topic::after{
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url("../images/titledeco_white.png");
    width: 38px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1,-1) translate(12%, -5%) rotate(80deg);
}

.section--light {
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
}

.section--light .section__topic {
    color: var(--basedarkred);
}

.section--light .section__topic::before {
    background-image: url("../images/titledeco_red.png");
}

.section--light .section__topic::after {
    background-image: url("../images/titledeco_red.png");
}


@media screen and (min-width: 769px) {
    .section {
        padding: 40px 0 60px;
    }

    .section__topic {
        font-size: 3.0rem;
        margin-bottom: 40px;
    }
}

/* ====================
footer
==================== */
.footer {
    border-top: 5px double #ffffff;
    background-color: var(--basedarkred2);
}

.footer__group {
    padding: 0 var(--contentPadding);
    margin: 30px 0;
}

.footer__header {
    display: flex;
    align-items: center;
    margin: 0 5px;
    gap: 6%;
}

.footer__logo {
    width: 150px;
}

.footer__sns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer__snstopic {
    text-align: center;
    letter-spacing: -0.1rem;
}

.footer__snschar {
    padding-left: 2px;
    letter-spacing: 0.1rem;
}

.footer__snslist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__snsitem {
    width: 60px;
}

.footer__list {
    margin-top: 30px;
}

.footer__item {
    margin-top: 5px;
}

.footer__item::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 10px 5px 0;
}

.copy {
    padding: 10px var(--contentPadding);
    text-align: right;
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
    color: var(--basedarkred2);
}

@media screen and (min-width: 769px) {    
    .footer__logo {
        width: 200px;
    }
    
    .footer__lists{
        display: flex;
        gap: 60px;
        width: var(--contentWidth);
        margin: 0 auto;
    }
}
