@charset "UTF-8";

/* ====================
main visual
==================== */
.article__header {
    padding: 30px var(--contentPadding);
    background-image: url(../images/appletexture.png);
    background-repeat: repeat;
}

.mainImg {
    border: 3px solid var(--basedarkred);
    padding: 15px;
    position: relative;
    z-index: 0;
}

.mainImg__frame {
    box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.35);
}

.mainImg__sp {
    position: relative;
    z-index: -1;
}

.mainImg__pc {
    display: none;
}

@media screen and (min-width: 769px) {
    .mainImg {
        width: 80%;
        margin: 30px auto;
    }

    .mainImg__sp {
        display: none;
    }

    .mainImg__pc {
        display: block;
        position: relative;
        z-index: -1;
    }

}

/* ====================
about
==================== */
.section--about {
    padding: 40px 0;
}

.about {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.about__img--pc {
    display: none;
}

.about__txt {
    position: absolute;
    top: 25%;
    width: 100%;
}

.about__catch {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--basered);
}

.about__caption {
    margin-top: 2.5rem;
}

.about__caption p {
    margin-top: 1.2rem;
    color: var(--basedarkred);
}

@media screen and (min-width: 769px) {
    .section--about {
        padding: 40px 0 60px;
    }

    .about__img--sp {
        display: none;
    }

    .about__img--pc {
        display: block;
    }

    .about__img--pc img {
        width: 60%;
        max-width: 850px;
        min-width: 700px;
    }

    .about__txt {
        top: 32%;
    }

    .about__catch {
        font-size: 2.8rem;
    }
}

/* ====================
lineup
==================== */
.section--lineup {
    padding: 40px 2%;
}

.lineUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    gap: 5px;
}

.lineUp__item {
    width: 48%;
    padding: 10px 1.5% 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--basedarkred2);
}

.lineUp__name {
    margin-top: 8px;
    padding-left: 5px;
    text-decoration: underline;
}

.lineUp__price {
    margin-top: 8px;
    padding-right: 15px;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}

.lineUp__pricenum {
    font-size: 1.8rem;
}

.lineUp__txt {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;

}

.lineUp__btn {
    display: block;
    margin: 16px 10px 0px;
    padding: 5px 5px 7px;
    text-align: center;
    background-color: var(--basedarkred);
}

.lineUp__btntxt {
    font-size: 1.4rem;
    color: #ffffff;
}

.lineUp__btntxt::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: 1px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
}

.lineUp__link {
    margin-top: 25px;
    padding-right: 15px;
    text-align: right;
    color: var(--basedarkred2);
}

.lineUp__linktxt::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: 1px;
    border-top: 1px solid var(--basedarkred2);
    border-right: 1px solid var(--basedarkred2);
    transform: rotate(45deg);
}

@media screen and (min-width: 769px) {
    .section--lineup {
        padding: 40px 0 60px;
    }

    .lineUp {
        gap: 10px;
    }

    .lineUp__item {
        width: 22%;
    }

    .lineUp__price {
        margin-top: 12px;
    }

    .lineUp__link {
        width: var(--contentWidth);
        margin: 25px auto 0;
    }


    .lineUp__linktxt::after {
        margin-bottom: 3px;
    }
}

/* ====================
story
==================== */
.story__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.story__content {
    padding: 20px 5% 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color: var(--basedarkred2);
}

.story__topic {
    padding-left: 5px;
    font-size: 2.0rem;
    font-weight: bold;
    color: var(--basered);
}

.story__txt {
    margin-top: 20px;
}

.story__txt ul {
    margin-left: 20px;
    list-style-type: disc;
}

.story__img {
    width: 100%;
    height: 60vh;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (min-width: 769px) {
    .story {
        width: var(--contentWidth);
        margin: 0 auto;
    }
    
    .story__item {
        flex-direction: row;
        margin-top: 40px;
    }
    
    .story__item.story__item--rev {
        flex-direction: row-reverse;
    }
    
    .story__content {
        padding-top: 40px;
    }
    
    .story__topic {
        font-size: 2.2rem;
    }
    
    .story__img {
        width: 32%;
        height: auto;
    }
}

@media screen and (min-width: 1100px) {    
    .story__img {
        height: 50vh;
    }
}

/* ====================
news
==================== */
.news__list {
    margin: 20px 3% 0px;
    padding: 0 5% 20px;
    border: 1px solid var(--basedarkred2);
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--basedarkred2);
}

.news__header {
    margin-top: 20px;
    padding-left: 3px;
}

.news__date {
    font-family: "Lora", serif;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    color: var(--basered);
}

.news__topic {
    font-weight: bold;
    margin-top: 4px;
}

.news__txt {
    margin-top: 8px;
    padding: 0 3px 10px;
    border-bottom: 1px dashed var(--basedarkred2);
    line-height: 1.5;
}

.news__txt a {
    color: blue;
}

@media screen and (min-width: 769px) {
    .news__list {
        width: var(--contentWidth);
        margin: 0 auto;
        padding: 20px 5% 50px;
    }

    .news__date {
        font-size: 1.8rem;
    }

    .news__topic {
        display: inline-block;
        margin-left: 15px;
    }
}

/* ====================
access
==================== */
.access__map {
    margin-top: 25px;
    width: 100%;
    height: 50vh;
}

.access__address {
    margin-top: 20px;
    padding-left: 5px;
}

.access__shop {
    font-size: 1.6rem;
    font-weight: bold;
}

.access__list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5.5rem 3rem 3rem;
    margin-top: 8px;
}

.access__topic {
    margin-top: 2px;
}

.access__topic::after {
    content: ":";
    margin-left: 5px;
}

.access__detail {
    margin-top: 2px;
}

.address {
    margin-top: 2px;
}

@media screen and (min-width: 769px) {
    .access__map {
        display: block;
        width: var(--contentWidth);
        margin: 0 auto;
    }

    .access__address {
        width: var(--contentWidth);
        margin: 20px auto 0;

    }

    .access__shop {
        font-size: 1.8rem;
    }

    .access__list {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 6.5rem 4rem 4rem;
    }
}


